/* ====== IMPORT FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Fira+Code:wght@400;500&display=swap');

/* ====== BASE ====== */
body {
  background-color: #1F1F1F;
  color: #fff;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ====== HEADER ====== */
header {
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  font-family: "Fira Code", sans-serif;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #86BBD8;
  font-weight: bold;
}

/* ====== TITRES ====== */
h2 {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left;
  margin: 40px 35px 20px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

/* ====== CONTENU PROJETS ====== */
.categorie {
  padding: 0 35px 60px;
}

.grid-projets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  justify-items: center;
}

/* ====== CARDS ====== */
.projet-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 3px solid transparent;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px;
}

.projet-card:hover {
  transform: translateY(-5px);
 
}

.projet-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 10px;
}

.projet-card p {
  font-size: 12px;
  color: #ccc;
  line-height: 1.4;
}

.grid-projets img:hover { transform: scale(1.15); }


/* Couleurs */
.red  { border-color: #C33C54; }
.blue  { border-color: #5ec4ff; }
.yellow  { border-color: #ffcc66; }

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #111;
  color: #777;
  font-size: 0.9rem;
  margin-top: 80px;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  nav ul li {
    margin: 10px;
  }

  .grid-projets {
    grid-template-columns: 1fr;
  }

  .projet-card {
    max-width: 90%;
  }
}
